#container {
    display: inline-block;
    width: 640px;
}

h1, footer {
    background-color: #433f96;
    color: #8ad6e0;
    margin: 1.25rem auto;
    padding: 1rem;
    text-align: center;
}

h1 {
    font-family: 'Acme', sans-serif;
    font-size: 45px;
}

img {
    width: 175px;
    margin-top: 20px;
    border: 3.5px solid cornflowerblue;
    border-radius: 5px;
}

h2 {
    font-family: 'Fjalla One', sans-serif;
    text-align: left;
}

ul {
    font-family: 'Crete Round', serif;
    list-style: none;
    line-height: 1.5em;
    text-align: left;
    margin-left: 22px;
}

body {
    text-align: center;
}

footer {
    font-family: 'Acme', sans-serif;
    font-size: 18px;
}

.update {
    font-style: italic;
    font-size: .8em;
}

footer a:link {
    color: #e7f70a;
}

footer a:visited {
    color: deeppink;
}

@media screen and (max-width: 640px) {
    #container {
        width: 100%;
}
}