h1 {
    width: 70%;
    text-align: center;
    letter-spacing: 2px;
    position: relative;
    text-shadow: 6px 3px 2px rgba(255, 198, 0, .5);
    border-top: 5px ridge #ffc600;
    border-bottom: 5px ridge #ffc600;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 20px auto;
}

.grid-container {
    display: grid;
    justify-content: center;
}

picture img[data-src] {
    filter: blur(0.2em);
}

picture img {
    filter: blur(0em);
    transition: filter 0.5s;
    border: 15px ridge #ffc600;
    margin: 10px 0;
}