/* Media Query for medium + screens */
@media only screen and (min-width: 37.5em) {

  header {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .pageTitle {
    padding-left: 15px;
  }

  h1 {
    font-size: 3.5em;
  }

  #motto {
    font-size: 1.8rem;
  }

  #navigation {
    display: flex;
  }

  #navigation li {
    display: block;
    flex: 1 1 100%;
    white-space: nowrap;
  }

  #menu {
    display: none;
  }

  .forecast {
    font-size: 1.6em;
    display: block;
    margin: auto;
    margin-top: 25px;
    /*max-width: 500px;*/
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }

  th {
    box-shadow: 0 0 17px 6px #82bc00 inset;
    padding: 0 10px;
  }

  td {
    border: 2px solid #0083c6;
    padding: 15px;
    box-shadow: 0 0 30px 2px #023e58 inset;
    background: radial-gradient(#82bc00, #023e58);
  }

  td img {
    width: 88px;
  }

  .article picture {
    float: right;
    max-width: 420px;
    margin: 0 0 5px 15px;
  }

  .weatherSummary {
    font-size: .8em;
  }

  #map {
    display: inline-grid;
  }

  iframe {
   width: 450px;
}

}