table {
    font-family:'Ubuntu', sans-serif;
    font-size: 1.4rem;
    width: 400px;
    margin: 200px auto;
    box-shadow: 10px 15px 13px #628ca6;
    background-color: #e7f0ed;
}

table,
thead,
tr,
th,
td {
    border: 2px solid rgb(190, 184, 184);
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
}

thead th {
    background-color: #7fb9c2;
    font-size: 2.3rem;
}

tbody th {
    font-weight: bold;
}

.dblue {
    color: white;
    background-color: #628ca6;
}

tr:nth-child(odd) {
    background-color: #e7ffed;
}

tfoot td {
    font-size: 1.1rem;
    background-color: #7fb9c2;
}