body {
    font-family: 'Acme', sans-serif;
    display: block;
    text-align: center;
    background-color: #ebffdd;
}

#banner {
    display: none;
    font-size: 1.5em;
    padding: .7em;
}

.logo {
    max-width: 250px;
    height: auto;
    border: 15px solid #82bc00;
    border-radius: 100px;
    background-color: #ebffdd;
}

header {
    padding-top: 10px;
    padding-bottom: 6px;
}

.pageTitle {
    display: flex;
    flex-direction: column;
}

header,
footer {
    color: #ebffdd;
    background-color: #0083c6;
}

main {
    width: 75%;
    margin: 0 auto;
    padding: 10px;
}

nav {
    width: 100%;
    background-color: #023e58;
    text-align: center;
    list-style: none;
    padding: 0;
    margin: -19px auto;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

nav ul li a {
    display: block;
    color: #82bc00;
    text-align: center;
    padding: 0.75rem;
    text-decoration: none;
    font-size: 1.25rem;
    font-family: "Fjalla One", sans-serif;
}

nav a:hover {
    background-color: #82bc00;
    color: #023e58;
}

ul {
    list-style: none;
    font-size: 1.2em;
    font-family: "Crete Round", sans-serif;
    padding: 0;
}

.active {
    background-color: #0083c6;
    color: #ebffdd;
    border: 2px solid #82bc00;
    padding: .5em;
}

.responsive li {
    display: block;
}

h1 {
    font-size: 2.5em;
    font-weight: bold;
    max-width: 98%;
    margin-bottom: -5px;
}

#motto {
    letter-spacing: 1.5pt;
    font-size: 1.5em;  
  }

h2 {
    font-family: 'Acme', sans-serif;
}

.city {
    font-size: 2em;
}

img {
    max-width: 100%;
}

.herodiv {
    position: relative;
    font-family: "Crete Round", sans-serif;
    color: #ebffdd;
    font-size: 1.2em;
    margin: 10px auto;
}

.weatherSummary {
    position: absolute;
    margin-right: 35px;
    top: 35px;
    left: 35px;
    background: radial-gradient(#82bc00, #023e58);
    border: 1px solid #0083c6;
    padding: 1rem 2.5rem;
    box-shadow: 0 10px 25px #0083c6;
    opacity: .75;
    font-size: .7em;
}

.weatherSummary h3 {
    text-decoration: underline;
}

.weatherSummary p {
    text-align: justify;
}

#wind, #chill, #temp {
    padding: 0 5px;
}

.forecast {
    display: none;
}

.article p {
    margin-top: 40px;
    padding: 0 25px 10px 25px;
    font-family: "Crete Round, serif";
    text-align: justify;
}

#map {
    display: none;
}

footer {
    text-align: center;
    font-size: 1.3em;
    padding: 5px;
    border-top: 3px solid #023e58;
}

footer a {
    text-decoration: none;
    color: #ebffdd;
}

footer a:hover {
    background-color: #82bc00;
    color: #ebffdd;
}

.icon {
    width: 35px;
}